* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --uri-gray: hsla(235, 0%, 50%, 0.27);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
    width: 280px;
    height: 440px;
    border-radius: 1rem;
    border: 1px solid;
    position: relative;
}

.hero-imgs {
    width: 100%;
    height: 40%;
    position: relative;
    background-image: url("./resources/hero-image-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1rem;
}

.hero-imgs>svg {
    width: 100%;
    position: absolute;
    bottom: -20px;
    z-index: 1;
}

.container>h2 {
    margin: 20px 0.8rem 0 0.8rem;
}

.container>p {
    margin-inline: 0.8rem;
}

.blog-footer {
    padding: 1rem 0.8rem;
    border-top: 1px solid var(--uri-gray);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
  position: absolute;
  bottom: 1rem;
}

.author-info a {
  color: rgb(55, 65, 81);
  text-decoration: underline;
}