* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --uri-trans-white: #f2f5f9;
  --uri-trans-dk: #111729;
  --uri-gray: #4a5567;
  --uri-avg-fsz: 16px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--uri-trans-white);
}

.container {
    width: 280px;
    height: 440px;
    border-radius: 1rem;
    position: relative;
    background-color: #fff;
}

h2, h3 {
  color: var(--uri-trans-dk);
}

.hero-imgs {
    width: 100%;
    height: 40%;
    position: relative;
    background-image: url("./resources/hero-image-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 1rem;
}

.hero-imgs>svg {
    width: 100%;
    position: absolute;
    bottom: -20px;
    z-index: 1;
}

.container>h2 {
    margin: 20px 0.8rem 0 0.8rem;
}

.container>p {
    margin-inline: 0.8rem;
}

.blog-para {
  font-size: var(--uri-avg-fsz);
  margin-top: 2ch;
  color: var(--uri-gray);
}

.blog-footer {
    padding: 1rem 0.8rem;
    border-top: 1px solid var(--uri-gray);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.blog-footer>img {
  border-radius: 50%;
}

.blog-footer>div {
  font-size: var(--uri-avg-fsz);
  color: var(--uri-gray);
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
  position: absolute;
  bottom: 1rem;
}

.author-info a {
  color: rgb(55, 65, 81);
  text-decoration: underline;
}